name: Publish to npm

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    # if: contains(github.event.head_commit.message, 'chore(release)') 
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: https://registry.npmjs.org/

      - name: Install npm
        run: npm install -g npm@">=11.5.1"

      - run: npm --version

      - name: Install dependencies
        run: npm install

      - name: Run build script
        run: npm run build --if-present

      - name: Publish to npm
        run: npm publish --access public
